*{ padding: 0; margin: 0; font-family: "Microsoft Yahei",sans-serif; }

#head{ width: 100%; height: 80px; background: linear-gradient(to right, #333, #515151, #333); padding: 25px 0 }

.logo{ width: 80px; height: 80px; float: left; margin-right: 20px; margin-left: 20px }

.title{ width: 360px; height: 80px; float: left; }

.title-big{ font-size: 30px; color: #fff; margin-top: 10px; margin-bottom: 10px; }

.title-small{ font-size: 18px; color: #fff; }

#tab{ width: 100%; height: 54px; background-color: #f8f8f8; line-height: 50px; font-size: 18px; color: #303030; letter-spacing: 5px; }

#tab ul{ margin-left: 200px; }

.tab-li{ float: left; list-style: none; padding: 0 20px; cursor: pointer; }

#tab li:hover{ background-color: #f4f4f4; }

.tab-li2{ float: left; list-style: none; padding: 0 20px; cursor: pointer; color: #ff9900; border-bottom: 4px solid #ff9900; }

#nav{ width: 200px; height: 700px; float: left; background-color: #fbfafa; box-shadow: 0 0 5px #ddd; margin-top: 0;}

.module{ width: 170px; height: 40px; line-height: 40px; font-size: 16px; color: #696969; background: linear-gradient(#ffffff, #f4f4f4); /* 标准的语法 */ background: -webkit-linear-gradient(#ffffff, #f4f4f4); /* Safari 5.1 - 6.0 */ background: -o-linear-gradient(#ffffff, #f4f4f4); /* Opera 11.1 - 12.0 */ background: -moz-linear-gradient(#ffffff, #f4f4f4); /* Firefox 3.6 - 15 */ padding: 1px 10px 1px 20px; border-top: 1px solid #f6f6f6;; border-bottom: 1px solid #e8e8e8; list-style: none; cursor: pointer; overflow: hidden; }

.module-img{ float: right; width: 40px; height: 40px; padding: 10px 0 10px 20px; }

.module img{ width: 20px; height: 20px; }

.arrow{ float: right; color: #b5b5b5; }

.module:hover{ padding-right: 10px; background: #fff; }

.module2{ padding: 2px 10px 2px 20px; background: #fff; border-bottom: none; border-top: none; border-right: 5px solid #fff; }

/*操作区域*/
.operate{ width: 100%; height: 700px; float: left; }