*{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

body{
    padding: 30px 0;
    background-color: #f6f6f3;
}

.main-box{
    width: 100%;
    height: auto;
    text-align: center;
}

.main-box-title{
    font-size: 25px;
}

.box{
    width: 700px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box-title{
    font-size: 16px;
    color: #656565;
    float: left;
}

.box-input{
    width: 700px;
    height: 30px;
    float: left;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0 10px;
}

.box-hint{
    float: left;
    font-size: 14px;
    margin-top: 10px;
    color: #b6b6b6;
}

.box-radio-form{
    margin-top: 20px;
}

.box-radio{
    float: left;
    color: #5d5d5d;
}

.box-radio-text{
    float: left;
    margin-left: 10px;
    color: #363636;
    margin-right: 20px;
}

.box-checkbox-form{
    margin-top: 20px;
}

.box-checkbox{
    float: left;
    margin-top: 3px;

}

.box-checkbox-text{
    float: left;
    margin-left: 10px;
    color: #363636;
    margin-right: 10px;
}

.btn-check{
    width: 120px;
    height: 36px;
    border: none;
    background-color: #51dd70;
    border-radius: 3px;
    color: #fff;
}

.box-select{
    width: 700px;
    height: 30px;
    float: left;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background: #fff;
    font-size: 16px;
    padding: 0 10px;
}
