.box-reserve{
    height: 6rem;
}

.box-reserve-cost{
    font-size: 1.2rem;
    color: #ef7e51;
    float: left;
    margin-top: 0.2rem;
    margin-left: 0.7rem;
    display: block;
}

.box-reserve-status1{
    float: right;
    height: 2.2rem;
    width: 5.5rem;
    line-height: 2.2rem;
    text-align: center;
    background-color: #41bf5e;
    margin-top: 1rem;
    margin-right: 0.5rem;
    color: #fff;
    font-size: 0.7rem;
    border: none;
    border-radius: 0.2rem;
}

.box-reserve-status2{
    float: right;
    height: 2.2rem;
    width: 5.5rem;
    line-height: 2.2rem;
    text-align: center;
    background-color: #cecece;
    margin-top: 1rem;
    margin-right: 0.5rem;
    color: #fff;
    font-size: 0.7rem;
    border: none;
    border-radius: 0.2rem;
}

.no-message{
    width: 100%;
    text-align: center;
    color: #7b7b7b;
    font-size: 20px;
    margin-top: 50px;
}